<div class="admin-nav">
    <div class="admin-nav-body">
        <a class="admin-nav-link" asp-controller="admin" asp-action="users"><i class="fa-solid fa-users"></i>Users</a>
        <a class="admin-nav-link" asp-controller="admin" asp-action="createuser"><i class="fa-solid fa-user-plus"></i>New User</a>

        <a class="admin-nav-link" asp-controller="admin" asp-action="products"><i class="fa-solid fa-cart-shopping"></i>Products</a>
        <a class="admin-nav-link" asp-controller="admin" asp-action="createproduct"><i class="fa-solid fa-cart-plus"></i>New Product</a>

        <a class="admin-nav-link" asp-controller="admin" asp-action="tags"><i class="fa-solid fa-tags"></i>Tags</a>
        <a class="admin-nav-link" asp-controller="admin" asp-action="createtag"><i class="fa-solid fa-plus"></i>New Tag</a>

        <a class="admin-nav-link" asp-controller="admin" asp-action="categories"><i class="fa-solid fa-tags"></i>Categories</a>
        <a class="admin-nav-link" asp-controller="admin" asp-action="createcategory"><i class="fa-solid fa-plus"></i>New Category</a>
    </div>
</div>