<div class="admin-nav">
    <div class="admin-nav-body">
        <a class="admin-nav-link" asp-controller="admin" asp-action="users"><i class="fa-solid fa-users"></i></a>
        <a class="admin-nav-link" asp-controller="admin" asp-action="createuser"><i class="fa-solid fa-user-plus"></i></a>
        <a class="admin-nav-link" asp-controller="admin" asp-action="products"><i class="fa-solid fa-cart-shopping"></i></a>
        <a class="admin-nav-link" asp-controller="admin" asp-action="createproduct"><i class="fa-solid fa-cart-plus"></i></a>
    </div>
</div>