<div class="container-xxl  mt-5">
    <div class="mt-5 row row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-4 g-4">
        <partial name="../Components/_ProductTile.cshtml" />
        <partial name="../Components/_ProductTile.cshtml" />
        <partial name="../Components/_ProductTile.cshtml" />
        <partial name="../Components/_ProductTile.cshtml" />
        <partial name="../Components/_ProductTile.cshtml" />
        <partial name="../Components/_ProductTile.cshtml" />
        <partial name="../Components/_ProductTile.cshtml" />
        <partial name="../Components/_ProductTile.cshtml" />
    </div>
</div>