@model CollectionsViewModel


@if (Model != null)
{
    @if (Model.Categories != null)
    {
        <div class="d-flex justify-content-center mt-5">
            @foreach (var category in Model.Categories)
            {
                <a class="collection-link">@category</a>
            }
        </div>
    }

    @if (!string.IsNullOrEmpty(Model.Title))
    {
        <h3 class="collection-title">Best Collection</h3>
    }



    @if (Model.GridItems != null)
    {
        <div class="container-xxl mt-5">
            <div class="mt-5 row row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-4 g-4">
                @foreach (var item in Model.GridItems)
                {
                    <partial name="/Views/Shared/Partials/Components/_ProductTile.cshtml" model="item" />
                }
            </div>
        </div>
    }


    @if (Model.LoadMore)
    {
        <a class="loadmore-btn">
            Load More   <i class="fa-solid fa-arrow-rotate-left"></i>
        </a>
    }
}