    <section class="bg-footer">
        <div class="d-flex justify-content-center">
            <span class="py-4">&#169; @DateTime.Now.Year bmarketo. All right reserved.</span>
        </div>
    </section>