    <div class="container-home mb-4">
        <div class="container-xxl">
            <div class="d-flex justify-content-between align-items-center">
                <div class="text-container">
                    <h1 class="hero-text">WELLCOME TO bmarketo SHOP</h1>
                    <h2> Exclusive Chair gold Collection.</h2>
                    <span class="btn-theme">shop now</span>
                </div>
                <div class="img-container">
                    <img src="/imgs/placeholders/625x647.svg" alt="man model" />
                </div>
            </div>
        </div> 
    </div>