    <section class="bg-mail-sub">
        <div class="container-xxl d-flex justify-content-center align-items-center h-100">
            <div class="mail-sub-body position-relative">
                <input type="text" class="mail-sub-input" placeholder="Enter your mail here" />
                <button type="button" class="mail-sub-btn">Subscribe for newsletter</button>
            </div>
        </div>
    </section>