    <div class="product-showcase-bg h-auto mt-5">
        <div class="container-xxl">
            <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4 d-flex justify-content-between">
                <img class="my-5" src="~/imgs/placeholders/200x122.svg" alt="placeholder" />
                <img class="my-5" src="~/imgs/placeholders/200x122.svg" alt="placeholder" />
                <img class="my-5" src="~/imgs/placeholders/200x122.svg" alt="placeholder" />
                <img class="my-5" src="~/imgs/placeholders/200x122.svg" alt="placeholder" />
            </div>
        </div>
    </div>