@model ProductTileRowXlViewModel

<div class="container-xxl">
    <div class="mt-5 row row-cols-md-1 row-cols-lg-2 row-cols-xl-3 g-4">
        @if (Model.Items != null)
        {
            @foreach (var item in Model.Items)
            {
                <partial name="/Views/Shared/Partials/Components/_ProductTileXxl.cshtml" model="item" />
            }
        }
    </div>
</div>