    <div class="container-xxl">
      <div class="mt-5 row row-cols-md-1 row-cols-lg-2 row-cols-xl-3 g-4">
        <partial name="/Views/Shared/Partials/Components/_ProductTileXxl.cshtml" />
        <partial name="/Views/Shared/Partials/Components/_ProductTileXxl.cshtml" />
        <partial name="/Views/Shared/Partials/Components/_ProductTileXxl.cshtml" />
      </div>
    </div>