<section class="bg">
    <div class="container-xxl">
        <div class="mt-5 row row-cols-md-1 row-cols-lg-2 row-cols-xl-3 g-4">
            <partial name="../Components/_ProductTileXl.cshtml" />
            <div class="col d-flex justify-content-center mb-4">
                <div class="card sale-card-body d-flex justify-content-center">
                    <p class="sell-card-text-1">up to sell</p>
                    <p class="sell-card-text-2">50% off</p>
                    <h3 class="sell-card-text-3">Get The Best Price</h3>
                    <p class="sell-card-text-4">Get the best daily offer et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren no sea taki</p>
                    <p class="sell-card-text-5">Discover more</p>
                </div>
            </div>
            <partial name="../Components/_ProductTileXl.cshtml" />
        </div>
    </div>
</section>