.profile-container {
    margin-top: 270px;
    padding: 2rem;

    .profile-content {


        .profile-name {
            text-transform: uppercase;
            font-size: 22px;
            font-family: $font-poppins;
            font-weight: $font-weight-bold;
            color: $color-theme-1;
        }

        .profile-email {
            font-size: 16px;
            font-family: $font-poppins;
            font-weight: $font-weight-medium;
            color: black;
        }

        .profile-address-text {
            font-size: 14px;
            font-family: $font-poppins;
            font-weight: $font-weight-regular;
            color: $color-dark-2;
        }

        .profile-role {
            font-size: 10px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-family: "Poppins",sans-serif;
            font-weight: 600;
            padding: 5px 7px;
            background-color: $color-theme-1;
            color: #000;
            width: 83px;
            text-align: center;
            margin-top: -2px;
            display: inline-block;
        }

        .profile-button {
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-family: "Poppins",sans-serif;
            font-weight: 600;
            padding: 10px;
            background-color: $color-theme-1;
            color: #000;
            width: 100%;
            text-align: center;
            display: inline-block;
            margin-bottom: 0px;
        }
    }
}
