    <div class="col d-flex justify-content-center mb-4">
        <div class="card">
            <div class="product-tile-xl-body">
                <div class="model-item-body-big">
                    <img class="model-item-img w-100" src="/imgs/placeholders/370x295.svg" alt="product" />
                </div>
                <div class="d-flex justify-content-between align-items-end">
                    <div>
                        <h4>Table lamp 1562 LTG modal</h4>
                        <p>
                            Best dress for everyone ed totam velit risus viverra 
                            nobis donec recusandae perspiciatis incididuno
                        </p>
                        <span>Post by: Admin</span>
                        <span>Comments 13</span>
                    </div>
                </div>
            </div>
        </div>
    </div>