<div class="col d-flex justify-content-center">
    <div class="card">
        <div class="product-tile-body">
            <div class="model-item-body">
                <img class="model-item-img" src="/imgs/placeholders/270x295.svg" alt="product" />
            </div>
            <div class="d-flex justify-content-between align-items-end">
                <div>
                    <h4>Table Lamp</h4>
                    <p>$35.00</p>
                </div>
                <NavLink to="/cart" end><i class="fa-solid fa-cart-plus"></i></NavLink>
            </div>
        </div>
    </div>
</div>