    <div class="d-flex justify-content-center mt-4">
        <a class="collection-link" asp-controller="Contacts" asp-action="Index">All</a>
        <a class="collection-link" asp-controller="Contacts" asp-action="Index">Bags</a>
        <a class="collection-link" asp-controller="Contacts" asp-action="Index">Dress</a>
        <a class="collection-link" asp-controller="Contacts" asp-action="Index">Decoration</a>
        <a class="collection-link" asp-controller="Contacts" asp-action="Index">Essetials</a>
        <a class="collection-link" asp-controller="Contacts" asp-action="Index">Interior</a>
        <a class="collection-link" asp-controller="Contacts" asp-action="Index">Laptop</a>
        <a class="collection-link" asp-controller="Contacts" asp-action="Index">Mobile</a>
        <a class="collection-link" asp-controller="Contacts" asp-action="Index">Beauty</a>
    </div>
