@model ItemViewModel
<div class="col d-flex justify-content-center mb-4">
    <div class="card">
        <div class="product-tile-xl-body">
            <div class="model-item-body-big">
                <img class="model-item-img w-100" src="imgs/placeholders/369x310.svg" alt="product" />
            </div>
            <div class="d-flex justify-content-between align-items-end m-3">
                <div>
                    <h4 class="product-tile-title">@Model.Title</h4>
                    <span class="text-decoration-line-through">$@Model.OldPrice</span>
                    <span>$@Model.Price</span>
                </div>
                <a class="link" asp-controller="Products" asp-action="Index"><i class="fa-solid fa-cart-plus"></i></a>
            </div>
        </div>
    </div>
</div>