@model ItemViewModel
<p>
    <div class="colapse-container">
        <a id="productColapse" class="product-colapse" onclick="toggleColapse(0)" data-bs-toggle="collapse" href="#Description" role="button" aria-expanded="false" aria-controls="collapseExample">
            Description
        </a>
        <a id="productColapse" class="product-colapse" onclick="toggleColapse(1)" data-bs-toggle="collapse" href="#Additional" role="button" aria-expanded="false" aria-controls="collapseExample">
            Additional
        </a>
        <a id="productColapse" class="product-colapse" onclick="toggleColapse(2)" data-bs-toggle="collapse" href="#Shopping" role="button" aria-expanded="false" aria-controls="collapseExample">
            Shopping & Returns
        </a>
        <a id="productColapse" class="product-colapse" onclick="toggleColapse(3)" data-bs-toggle="collapse" href="#Reviews" role="button" aria-expanded="false" aria-controls="collapseExample">
            Reviews
        </a>
    </div>
</p>
<div class="collapse" id="Description">
    <div class="card card-body">
        <span>
            @Model.Description
        </span>
    </div>
</div>
<div class="collapse" id="Additional">
    <div class="card card-body">
        <span>Additional</span>
    </div>
</div>
<div class="collapse" id="Shopping">
    <div class="card card-body">
        <span>Shopping & Returns</span>
    </div>
</div>
<div class="collapse" id="Reviews">
    <div class="card card-body">
        <span>Reviews</span>
    </div>
</div>
