@model TagSchema
<partial name="/Views/Shared/Partials/Sections/_AdminNav.cshtml" />
<section class="contact-form">
    <div class="container">
        <div class="title mb-4">Create Tag</div>

        <form method="POST" class="validate-form" asp-action="createtag" novalidate>
            <div asp-validation-summary="ModelOnly" class="error"></div>
            <div class="form-group mb-4">
                <label asp-for="Name"></label>
                <input required asp-for="Name" type="text">
                <span asp-validation-for="Name"></span>
                <partial name="/Views/Shared/Partials/Components/_FormValidationIndicators.cshtml" />
            </div>
            <button type="submit" class="btn-theme">Submit</button>
        </form>
    </div>
</section>