@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&display=swap");


$font-poppins: "Poppins", sans-serif;
$font-roboto: "Roboto", sans-serif;
$font-playfair: "Playfair Display", sans-serif;

$font-weight-light : 300;
$font-weight-regular : 400;
$font-weight-medium : 500;
$font-weight-semibold : 600;
$font-weight-bold : 700;
$font-weight-black : 900;



$color-theme-1: #FA3150;
$color-theme-2: #FAEFEF;
$color-the: #F3F2F2;

$color-dark-1: #292929;
$color-dark-2: #636363;
$color-dark-3: #AEAEAE;


$color-star: #FFB71B;
$color-ordered: #F9C936;
$color-instock: #92B8B9;
$color-outofstock: #FA3150;