<div class="profile-container">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center">
            <div class="profile-image m-3 me-3">
                <img src="~/imgs/placeholders/profile-placeholder.png" />

                <div class="mt-3">
                    <p class="profile-address-text">Somewhere 22</p>
                    <p class="profile-address-text">örebro, 702 55</p>
                </div>
            </div>
            <div class="profile-content">
                <p class="profile-address-text"><i class="fas fa-user info"></i> ee@ee.ee</p>
                <p class="profile-name">Emil rickardsson</p>

                <p class="mt-3 profile-role">admin</p>
            </div>
        </div>
    </div>
</div>
